header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px;
  margin-bottom: 36px;
  color: #fff;
}

.header {
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-inline-end: 1.2rem;
}
