.home-page {
  text-align: center;
  display: flex;
  padding: 64px;
}

.home-page img {
  width: 30%;
}

.home-page h1 {
  font-size: 2.5rem;
  font-family: Roboto-bold, sans-serif;
  font-weight: 700;
  /* color: var(--primary-color); */
  margin-bottom: 2rem;
}

.home-page h2 {
  font-size: 1.2rem;
  color: var(--gray2);
  margin-block-end: 5rem;
}

.headings .btn {
  padding: 1rem;
  font-size: 1rem;
}
