.home-page {
  text-align: center;
  display: flex;
  padding: 64px;
  width: 90%;
  height: 90vh;
  margin: 0 auto;
}

.home-page .headings {
  margin-inline-end: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: 'Cinzel', serif; */
}

.home-page img {
  width: 40%;
}

.home-page .headings h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home-page .headings h2 {
  font-size: 1.2rem;
  color: var(--gray2);
  margin-block-end: 5rem;
}

.home-page .headings .btn {
  padding: 1rem;
  font-size: 1rem;
}
